@page "/protection-qualities"
@using Degenesis.UI.Service.Features.Protections
@inject ProtectionQualityService ProtectionQualityService
@inject IDialogService DialogService
@layout Layout.DashBoardLayout

<h3>Protection Qualities</h3>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ShowCreateDialog">Create New Protection Quality</MudButton>

@if (protectionQualities is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTable Items="@protectionQualities" Hover="true">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Name</MudTd>
            <MudTd>@context.Description</MudTd>
            <MudTd>
                <MudButton OnClick="() => ShowEditDialog(context.Id)" Color="Color.Primary">Edit</MudButton>
                <MudButton OnClick="() => DeleteProtectionQuality(context.Id)" Color="Color.Error">Delete</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
}
