@page "/vehicle-types"
@using Degenesis.UI.Service.Features.Vehicles
@inject VehicleTypeService VehicleTypeService
@inject IDialogService DialogService
@layout Layout.DashBoardLayout

<h3>Vehicle Types</h3>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ShowCreateDialog">Create New Vehicle Type</MudButton>

@if (vehicleTypes is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTable Items="@vehicleTypes" Hover="true">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Name</MudTd>
            <MudTd>@context.Description</MudTd>
            <MudTd>
                <MudButton OnClick="() => ShowEditDialog(context.Id)" Color="Color.Primary">Edit</MudButton>
                <MudButton OnClick="() => DeleteVehicleType(context.Id)" Color="Color.Error">Delete</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
}
