@page "/cults"
@using Degenesis.Shared.DTOs.Characters
@layout Layout.DashBoardLayout

<h3>Cults</h3>

@if (cults is null)
{
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
}
else
{
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => ShowCreateDialog()">Create New Cult</MudButton>
    <MudTable Items="@cults" Hover="true" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Bonus Skills</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Description">@context.Description</MudTd>
            <MudTd DataLabel="Bonus Skills">
                @if (context.BonusSkills != null && context.BonusSkills.Any())
                {
                    @string.Join(", ", context.BonusSkills.Select(bs => bs.Name))
                }
                else
                {
                    <span>No bonus skills</span>
                }
            </MudTd>
            <MudTd>
                <MudButton Color="Color.Primary" OnClick="() => ShowEditDialog(context.Id)">Edit</MudButton>
                <MudButton Color="Color.Error" OnClick="() => DeleteCult(context.Id)">Delete</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
}