@page "/skills"
@using Degenesis.Shared.DTOs.Characters
@layout Layout.DashBoardLayout

<h3>Skills</h3>

@if (skills is null)
{
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
}
else
{
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => ShowCreateDialog()">Create New Skill</MudButton>
    <MudTable Items="@skills" Hover="true" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Attribute</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Description">@context.Description</MudTd>
            <MudTd DataLabel="Attribute">@context.CAttribute.Name</MudTd>
            <MudTd>
                <MudButton Color="Color.Primary" OnClick="() => ShowEditDialog(context.Id)">Edit</MudButton>
                <MudButton Color="Color.Error" OnClick="() => DeleteSkill(context.Id)">Delete</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
}