@if (IsVisible)
{
    <div class="modal-background">
        <div class="modal">
            <div class="modal-header">
                <h4>@Title</h4>
                <button class="close-btn" @onclick="Close">×</button>
            </div>
            <div class="modal-body">
                <label for="burnName">Name</label>
                <input @bind="Burn.Name" id="burnName" placeholder="Name" class="form-control mb-2" />

                <label for="burnDescription">Description</label>
                <input @bind="Burn.Description" id="burnDescription" placeholder="Description" class="form-control mb-2" />

                <label for="burnChakra">Chakra</label>
                <input @bind="Burn.Chakra" id="burnChakra" placeholder="Chakra" class="form-control mb-2" />

                <label for="burnEarthChakra">Earth Chakra</label>
                <input @bind="Burn.EarthChakra" id="burnEarthChakra" placeholder="Earth Chakra" class="form-control mb-2" />

                <label for="burnEffect">Effect</label>
                <input @bind="Burn.Effect" id="burnEffect" placeholder="Effect" class="form-control mb-2" />

                <label for="burnWeakCost">Weak Cost</label>
                <input @bind="Burn.WeakCost" id="burnWeakCost" placeholder="Weak Cost" type="number" class="form-control mb-2" />

                <label for="burnPotentCost">Potent Cost</label>
                <input @bind="Burn.PotentCost" id="burnPotentCost" placeholder="Potent Cost" type="number" class="form-control mb-2" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" @onclick="() => OnSave.InvokeAsync()">Save</button>
                <button class="btn btn-secondary" @onclick="Close">Cancel</button>
            </div>
        </div>
    </div>
}