@page "/weapon-types"
@inject IDialogService DialogService
@layout Layout.DashBoardLayout

<h3>Weapon Types</h3>

@if (weaponTypes is null)
{
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
}
else
{
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ShowCreateDialog">Create New Weapon Type</MudButton>
    <MudTable Items="@weaponTypes" Hover="true">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Name</MudTd>
            <MudTd>@context.Description</MudTd>
            <MudTd>
                <MudButton OnClick="() => ShowEditDialog(context.Id)" Color="Color.Primary">Edit</MudButton>
                <MudButton OnClick="() => DeleteWeaponType(context.Id)" Color="Color.Error">Delete</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
}